<h2 class="govuk-heading-l">Export sites with clients</h2>

<%= link_to "Download CSV", sites_exports_path, class: "govuk-button", method: :post %>

<%= link_to "Cancel", sites_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>
