<h2 class="govuk-heading-l">Are you sure you want to delete this client?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">IP / Subnet CIDR:</span> <%= @client.ip_range %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Tag:</span> <%= @client.tag %>
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "client",
  delete_path: site_client_path(site_id: @site, id: @client),
  cancel_path: site_path(@site)
%>
