<div>
  <h2 class="govuk-heading-l">Authorised Clients</h2>

  <% if can? :create, Clients %>
    <%= link_to "Create a new client", new_client_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of clients</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Tag</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @clients.each do |client| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= client.tag %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
