<h2 class="govuk-heading-l">Are you sure you want to delete this MAC authentication bypass?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">MAC Address:</span> <%= @mac_authentication_bypass.address %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Name:</span> <%= @mac_authentication_bypass.name %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Description:</span> <%= @mac_authentication_bypass.description %>
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "bypass",
  delete_path: mac_authentication_bypass_path(@mac_authentication_bypass),
  cancel_path: mac_authentication_bypass_path(@mac_authentication_bypass)
%>
