<%= render "layouts/form_errors", resource: @mac_authentication_bypass %>

<h2 class="govuk-heading-l">Editing a bypass</h2>

<%= render "mac_authentication_bypasses/form", mac_authentication_bypass: @mac_authentication_bypass %>
