<h2 class="govuk-heading-l">Are you sure you want to delete this response?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Response:</h4>
  <p class="govuk-body"><%= "#{@response.response_attribute}: #{@response.value}" %></p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource: @response,
  delete_path: policy_response_path(policy_id: @policy, id: @response),
  cancel_path: policy_path(@policy)
%>
