<h2 class="govuk-heading-l">Are you sure you want to delete this response?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold">
    <%= "Response attribute: #{@response.response_attribute}" %><br />
    <%= "Value: #{@response.value}" %>
  </p>
  <p class="govuk-body">
    <%= "MAC authentication bypass: #{@mac_authentication_bypass.name}" %>
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "response",
  delete_path: mac_authentication_bypass_mab_response_path(mac_authentication_bypass_id: @mac_authentication_bypass, id: @response),
  cancel_path: mac_authentication_bypass_path(@mac_authentication_bypass)
%>
