<%= render "layouts/form_errors", resource: @response %>

<h2 class="govuk-heading-l">Editing a response</h2>

<%= render "mab_responses/form", path: mac_authentication_bypass_mab_response_path(mac_authentication_bypass_id: @mac_authentication_bypass, id: @response), response: @response %>
