<h2 class="govuk-heading-l">Are you sure you want to delete this response?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold">
    <%= "Response attribute: #{@response.response_attribute}" %><br />
    <%= "Value: #{@response.value}" %>
  </p>
  <p class="govuk-body">
    <%= "Policy: #{@policy.name}" %>
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "response",
  delete_path: policy_policy_response_path(policy_id: @policy, id: @response),
  cancel_path: policy_path(@policy)
%>
