<%= render "layouts/form_errors", resource: @response %>

<h2 class="govuk-heading-l">Editing a response</h2>

<%= render "policy_responses/form", path: policy_policy_response_path(policy_id: @policy, id: @response), response: @response %>
