<%= render "layouts/form_errors", resource: @rule %>

<span class="govuk-caption-l"><%= @policy.name %></span>
<h2 class="govuk-heading-l">Editing a rule</h2>

<%= render "rules/form", path: policy_rule_path(policy_id: @policy, id: @rule), rule: @rule %>
