<%= render "layouts/form_errors", resource: @rule %>

<h2 class="govuk-heading-l">Create a new rule</h2>

<%= render "rules/form", path: policy_rules_path(policy_id: @policy, id: @rule), rule: @rule %>
