<h2 class="govuk-heading-l">Are you sure you want to delete this site?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Site name: <%= @site.name %></h4>
  <div class="govuk-body">
    <p><%="#{@site.clients.count} clients will be deleted." %></p>
    <p><%="#{@site.policies.count} policies will be detached." %></p>
  </div>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "site",
  delete_path: site_path(@site),
  cancel_path: sites_path
%>
