<h2 class="govuk-heading-l">Are you sure you want to delete this site?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Site name:</h4>
  <p class="govuk-body"><%= @site.name %></p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource: @policy,
  resource_name: "site",
  delete_path: site_path(@site),
  cancel_path: sites_path
%>
