<% if crumbs.present? %>
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <% crumbs.each do |name, path| %>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to name, path, class: "govuk-breadcrumbs__link" %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
