<div class="govuk-notification-banner"  style="border-color:#ffdd00" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header" style="background-color:#ffdd00">
    <h2 class="govuk-notification-banner__title" style="background-color:#ffdd00" id="govuk-notification-banner-title">
      IMPORTANT
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    A certificate will expire in less than four months. If this occurs the service <i>will</i> be impacted.
    This alert will no longer appear when there are no certificates expiring in the next four months. Detailed information:
    <a class="govuk-notification-banner__link" href="/certificates">here</a>.
  </div>
</div>
