<div class="govuk-phase-banner govuk-error-colour">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      WARNING
    </strong>
    <span class="govuk-phase-banner__text">
      A certificate will expire in less that three months.
      If this occurs the service <i>will</i> be impacted. <br>
      Currently XYZ certificates are going to expire in the next three months. <br>
      This alert will no longer appear when there are no certificates expiring in the next three months.
      Detailed information: <a href="/certificates">here</a>
    </span>
  </p>
</div>
