<h2 class="govuk-heading-l"><%= title %></h2>
<p class="govuk-body">
    <% if @csv_import_result.completed_at.present? %>
        <% if @csv_import_result.import_errors.present? %>
            <div class="govuk-error-summary" id="error-summary">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                    <% @csv_import_result.import_errors.split(",").each do |error| %>
                        <li id="error-message"><%= error %></li>
                    <% end %>
                    </ul>
                </div>
            </div>
        <% else %>
            <span id="success">CSV Successfully imported</span>
        <% end %>
    <% else %>
        Import in progress... <noscript>Click <%= link_to "here", path, class: "govuk-link" %> to refresh.</noscript>
    <% end %>
</p>

<script>
if(!document.getElementById("success") && !document.getElementById("error-message")){
    setTimeout("location.reload(true);", 2000);
}
</script>
