<h2 class="govuk-heading-l">Are you sure you want to delete this policy?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Policy name:</span> <%= @policy.name %>
  </p>
  <p class="govuk-body">
    This policy is attached to <%= link_to @policy.sites.count, sites_path(:policy => @policy.id), class: "govuk-link govuk-!-font-weight-bold" %> site(s).
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "policy",
  delete_path: policy_path(@policy),
  cancel_path: policy_path(@policy)
%>
