<h2 class="govuk-heading-l">Are you sure you want to delete this policy?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Policy name:</h4>
  <p class="govuk-body"><%= @policy.name %></p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource: @policy,
  resource_name: "policy",
  delete_path: policy_path(@policy),
  cancel_path: policies_path
%>
